extent ../layout
block content
    .container
        .row
           form.form-horizontal(method="post",action="/admin/movie/new")
               .form-group
                   label.col-sm-2.contro-label(for="inputTitle") 电影名字
                   .col-sm-10
                       input#inputTitle.form-control(type="text",name="movie[title]",value="#{movie.title}")
               .form-group
                   label.col-sm-2.contro-label(for="inputDoctor") 电影导演
                   .col-sm-10
                       input#inputTitle.form-control(type="text",name="movie[title]",value="#{movie.title}")
               .form-group
                   label.col-sm-2.contro-label(for="inputCountry") 国家
                   .col-sm-10
                       input#inputTitle.form-control(type="text",name="movie[title]",value="#{movie.title}")
               .form-group
                   label.col-sm-2.contro-label(for="inputLanguage") 语种
                   .col-sm-10
                       input#inputTitle.form-control(type="text",name="movie[title]",value="#{movie.title}")
               .form-group
                   label.col-sm-2.contro-label(for="inputPoster") 海报地址
                   .col-sm-10
                       input#inputTitle.form-control(type="text",name="movie[title]",value="#{movie.title}")